<config injector="$location,$rootScope"
></config>
<script type="text/javascript">
  export default function(location,rootScope){
    let commands = [], index = -1;
    return {
      add(arr){
        index = commands.push(arr);
      },
      append(parentlist, item){
        let cmd = [
          function(){
            parentlist.push(item);
          },
          function(){
            parentlist.pop();
          }
        ];
        cmd[0]();
        return cmd;
      },
      insert(parentlist, item, num){
        let cmd = [
          function(){
            parentlist.splice(num, 0, item);
          },
          function(){
            parentlist.splice(num, 1);
          }
        ];
        cmd[0]();
        return cmd;
      },
      remove(parentlist, num){
        let item, cmd = [
          function(){
            item = parentlist.splice(num, 1);
          },
          function(){
            parentlist.splice(num, 1, item);
          }
        ];
        cmd[0]();
        return cmd;
      },
      update(newobj, oldobj){
        let cmd = [
          function(){
            return newobj;
          },
          function(){
            return oldobj;
          }
        ];
        cmd[0]();
        return cmd;
      },
      forward(){
        if(index < commands.length - 1){
          let cmd = commands[index++];
          for(var i = 0; i < cmd.length; i++){
            cmd[i][0]();
          }
        }
      },
      back(){
        if(index > 1){
          let cmd = commands[index++];
          for(var i = 0; i < cmd.length; i++){
            cmd[i][1]();
          }
        }
      },
      commands(){
        return conmmands;
      }
    };
  }
</script>