<config injector="psCommand,$rootScope,$timeout" type="factory"
></config>
<script type="text/javascript">
  export default function(psCommand,rootScope,timeout){
    return function(target, option, parentList, dom){
      let replacer = document.createComment(`移动节点`),
        helper = document.createElement(`div`),
        freeboard = document.getElementById(`freeboard`),
        parent = dom.parentElement,
        offset = [ 10 , 10 ];
      target.onmousedown = onmousedown;
      helper.setAttribute(`class`, `helper`);
      function setPos(x, y){
        helper.style.top = `${y}px`;
        helper.style.left = `${x}px`;
      }
      function onmousedown(e){
        if(dom){
          parent.replaceChild(replacer, dom);
          document.onmouseup = onmouseup;
        }
        freeboard.setAttribute(`class`, `mousedown`);
        document.body.append(helper);
        setPos(e.pageX - offset[0], e.pageY - offset[1]);
        timeout(() => {
          rootScope.$broadcast(`freeboard:changed`)
        }, 300);
        target.onmousedown = null;
        window.onmousemove = function(e){
          setPos(e.pageX - offset[0], e.pageY - offset[1]);
        }
      }
      function onmouseup(e){
        rootScope.$apply(() => {
          let domtarget = e.target, list;
          if(domtarget.__isColEnd__ == true){
            list = domtarget.__parentList__;
            psCommand.add([
              psCommand.append(list, option),
              psCommand.remove(parentList, parentList.indexOf(option))
            ]);
          } else if(domtarget.__isColHead__ == true){
            list = domtarget.__parentList__;
            inx = domtarget.__index__;
            psCommand.insert([
              psCommand.insert(list, option, inx),
              psCommand.remove(parentList, parentList.indexOf(option))
            ]);
          }
          if(dom){
            parent.replaceChild(dom, replacer);
            document.onmouseup = null;
            target.onmousedown = onmousedown;
          }
          freeboard.removeAttribute(`class`);
          timeout(() => {
            rootScope.$broadcast(`freeboard:changed`)
          }, 300);
          helper.remove();
          window.onmousemove = null;
        });
      }
    };
  }
</script>